* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  .header {
    background-color: #2e8af3;
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }
  .row{
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 5px;
  }
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    max-width: 25%;
    overflow: hidden;
    padding: 10px;
    margin-top: 20px;
  }
  .img-size{
      min-width: 250px;
      min-height: 250px;
      height: 400px;
      width: 400px;
      object-fit: cover;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  .float-left{
      float: left;
  }
  .float-right{
      float: right;
  }
.column > p{
    text-align: center;
}