/* Google Fonts importing the font Grand Hotel by 'Astigmatic' for Siana's logo */

@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

/* Style the background of all pages. margin and padding set to 0px due to browser automatically adding rules */

html,
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #69D2E7;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth; /* Found at https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2 */
}

body {
	margin-top: 100px;
}

/* Specifically for the navigation page body */
#nav-page-body {
	margin-top: 0;
	height: 100%;
}

/*allows for padding and margin to be accounted into the size for every element so that the width and height is the actual size */

* {
	box-sizing: border-box;
}

a {
	text-decoration: none; /* Removes text-decoration from anchor elements */
}

/* Applies to all paragraph elements in an a tag */
a p {
	color: black;
	transition: all .2s ease-in-out; /* Sets a transitional animation for the p elements */
}

/* Psuedo class hover to apply an effect to the link text when hovered over */
a p:hover {
	color: whitesmoke;
	transform: scale(1.1); /* Increases the size of the text by a scale of 1.1 */
}
article h3{
	margin: 1.1rem;
}
article p {
	font-size: 16px;
	line-height: 28px;
	margin: 1.1rem;
 }
 

/* Simple rules for floating left and right and adds padding */

.float-left {
	float: left;
	padding-left: 30px;
}

.float-right {
	float: right;
	padding-right: 30px;
}


/* Float rules end */


/* Style the header */

.topnav {
	overflow: hidden;
	background-color: #F38630;
	width: 100%;
	font-size: 40px;
	margin: 0 0 40px 0;
	padding: 0;
	font-family: 'Grand Hotel', Helvetica, sans-serif; /* Sets the font for the site logo */
	font-weight: 500;
	height: 100px;
	position: fixed; /* Stays permanently at the top of the page */
	top: 0;
	z-index: 5; /* Places the top bar above everything else. Previously had overlap issues with checkbox on about page */
}


/* Style rules for the site logo present in the navigation bar */

.site-logo {
	line-height: 10px;
}

.page-title {
	margin: 25px 30px 20px 30px;
}


/* Style rules for the navigational "burger button" icon on the top navigation bar */

.burger-button {
	display: inline-block;
	margin-top: 30px;
	color: black;
	font-size: 40px;
}


/* Start of menu navigation rules */

.topnav ul {
	list-style: none; /* Removes bullet points from list */
	margin: 0 10px 0 0; 
	padding: 0;
	background: white;
	color: black; 
	display: inline-block;
	position: fixed; /* Nav bar is fixed so when the navigation list appears it too must be fixed */
	width: 100%;
	top: 100px;
	overflow-x: hidden;
}


/* Styling the labels used for navigation in the top nav. */

.topnav label {
	display: block;
	cursor: pointer; /* Allows the cursor to display as a pointer, showing the user the label is clickable */
}

.topnav label:hover i {
	color: white; 
}

.topnav ul li a {
	padding: 10px 15px;
	display: block;
	background: white;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: 700;
	text-decoration: none;
	width: 100%;
}

.topnav ul li a:hover {
	background: #f9b27a;
	color: #565656;
}

.topnav input[type="checkbox"] {
	position: absolute;
	left: -9999px;
}

.topnav input[type="checkbox"]~ul {
	height: 0;
	transform: scaleY(0);
}

.topnav input[type="checkbox"]:checked~ul {
	height: auto;
	transform-origin: top;
	transition: transform .2s ease-out;
	transform: scaleY(1);
}

.topnav input[type="checkbox"]:checked+label {
	background: white;
	color: black;
}


/* Psuedo class to change the state of the previously mentioned navigation button */

.burger-button:hover {
	color: white;
}

/* End of style rules for navigation menu */

/* Style the footer at the bottom of the page */

.footer {
	background-color: #F38630;
	padding: 10px;
	margin-top: 15px;
	text-align: center;
	width: 100%;
	font-size: 25px;
	color: black;
	bottom: 0;
}

footer i {
	font-size: 150%;
	margin: 5px;
	padding: 0 20px;
	color: black;
	z-index: 5;
}

footer a:hover i {
	transform: rotate(15deg) scale(1.7);
	color: whitesmoke;
}

footer a:hover i.fa-youtube-square {
	transform: rotate(-30deg) scale(1.7);
}

footer a:hover i.fa-twitter-square {
	transform: rotate(-30deg) scale(1.7);
}

/* Class used to center elements using p elements */
.text-centered {
	text-align: center;
}

/* General CSS ends here */


/* Splash screen/navigation screen specific CSS */

#nav-page-body {
	background-image: url(../images/index-images/sky-background.jpg);
	background-attachment: fixed;
}


/* Div containing the other elements of the splash screen */

#nav-wrapper {
	width: 100%;
	padding: 15px;
	overflow: hidden;
}


/* Site title/logo specifically on the index page */

#index-header {
	font-size: 70px;
	font-weight: 300;
	margin: 25px 0 15px 50px;
	font-family: 'Grand Hotel', Helvetica, sans-serif
}


/* Style rules for the text captioning each image on the splash screen */

p.index-link {
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	color: black;
}


/* Style rules specific to the left nav image */

#nav-img-left {
	margin-right: 15px;
	width: 32%;
	display: inline-block;
}

#nav-img-center {
	margin-right: 15px;
	right: 50%;
	width: 32%;
	display: inline-block;
}

#nav-img-right {
	width: 32%;
	display: inline-block;
	right: 100%
}

.nav-img {
	object-fit: cover;
	margin: 20px auto 20px auto;
}


/*End of splash screen specific CSS */


/* Gallery CSS starts here */


/* The galleries and the navigation page use a table-style row and column system as a layout */

.row {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
}


/* Create four equal columns that floats next to each other for the galleries */

.column {
	float: left;
	width: 25%;
	overflow: hidden;
	margin: 20px auto 0 auto;
	padding: 0 10px 0 10px;
	text-align: center;
}


/* Ensures any description text in the columns is central to the image it's describing */

.column>p {
	text-align: center;
}


/* Sets the image size for the gallery, centers the image using object-position */

.img-size {
	height: 300px;
	width: 300px;
	object-fit: fill;
	object-position: 50% 50%;
}


/* Clear floats after the columns */

.row:after {
	content: "";
	display: table;
	clear: both;
}

.image-caption {
	text-align: center;
}


/* Used for the YouTube iFrame in the character design page */

iframe {
	display: block;
	margin: 50px auto;
}

iframe.insta-iframe {
	margin-left: calc(50% - 306px);
	margin-left: -webkit-calc(50% - 306px);
	margin-left: -moz-calc(50% - 306px);
}


/* Gallery CSS ends here */


/* About page specific CSS starts here */

#contact-form {
	display: inline-block;
}


/* The contact form on the about page is wrapped in a div with this ID */

#contact-form-wrapper {
	width: 80%;
	height: auto;
	margin: 30px auto 25px auto;
	bottom: 50%;
	border: black 1px solid;
	background-color: #E0E4CC;
	padding: 30px 0 0 100px;
}


/* Applies to each element in the contact form*/

.contact-form-input {
	max-width: 300px; 
	width: 100%;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
}

input.contact-form-input {
	padding-left: 25px;
	font-size: 18px;
	height: 30px;
}

#submit {
	border-radius: 15px;
	height: 50px;
	padding: 10px 15px;
	margin: 20px auto;
	width: auto;
	background: #F38630;
	color: black;
	border: 1px solid gray;
	box-shadow: none;
	display: block;
	font-size: 20px;
	font-weight: 700;
}

#submit:hover {
	color: #565656;
	background: #f9b27a;
}

label.contact-form-input {
	font-size: 18px;
	padding: 10px 0 10px 0;
	display: block;
	height: auto;
}

textarea {
	resize: none;
	width: 300px;
	font-size: 18px;
	padding-left: 20px;
}

#consent {
	width: 18px;
	height: 18px;
	padding: 0;
	margin: 30px 10px 0 0;
	display: inline-block;
}

#consent-label {
	width: 90%;
	margin: 0;
	float: right;
}

#privacy-policy {
	width: 49%;
	height: 400px;
	border: 1px solid black;
	padding: 10px;
	margin: 10px 20px 10px 10px;
	overflow-y: scroll;
	background-color: white;
	float: right;
}

.column-about-left {
	text-align: left;
	float: left;
	width: 45%;
	overflow: hidden;
	padding: 15px 0 15px 20px;
	margin: 20px auto 0 auto;
	height: auto;
}

iframe.youtube-video {
	overflow: visible;
	margin: 25px auto;
}

.column-about-right {
	width: 45%;
	overflow: visible;
	padding: 15px 10px 15px 20px;
	margin-right: 10px;
	float: right;
	height: auto;
}
.desktop-hidden{
	display: none;
}
#submit.desktop-hidden{
	display: none;
}

/* End of about page specific CSS */


/* Responsive CSS starts here */


/* For tablets and other smaller screens */

@media (max-width: 1100px) {
  	.index-footer{
    	width: 100%;
    	height: 80px;
    	display: block;
  	}
	p {
		font-size: 18px; /* Increases size of text on smaller screens to make it easier to read */
	}
  	#index-html{
    	height: 120%; /* Should fix gap issue on Chrome mobile */
  	}	
	.site-logo {
		font-size: 46px;
	}
	.row {
		width: 100%; /* Sets the row to 100% width */
		padding: 0; /* Removes any padding */
		margin: 0;
		height: auto; /* Height sets automatically */
	}
	.column {
		width: 42%; /* Column set to 42%, should allow two images to display comfortably on tablet */
		margin: 2%;
	}
	#nav-wrapper {
		width: 100%; 
	}
	#nav-img-left {
		width: 80%; /* Each nav image on the index page will be stacked vertically rather than horizontally */
		display: block;
		margin: 0 auto 60px auto;
		right: 50%; /* Should help center the image */
	}
	#nav-img-center {
		width: 80%;
		display: block;
		margin: 0 auto 60px auto;
		object-position: 50% 50%;
	}
	#nav-img-right {
		width: 80%;
		display: block;
		margin: 0 auto 60px auto;
		right: 70%;
		object-position: 50% 50%;
	}
	#contact-form-wrapper {
		height: fit-content; /* The contact form should be exactly the right height for what it is containing */
		padding: 5%;
	}
	#privacy-policy {
		float: none; /* Removes any float previously applied */
		width: 80%;
		margin: 0 auto; /* Should center the privacy policy to its container */
	}
	.contact-form-wrapper {
		padding-left: 10px;
	}
	#consent-label {
		width: auto;
		float: none;
		margin: 0 auto;
	}
	.column-about-left {
		width: 90%; /* Increases the width enough to have all of the content vertical to make it easier to see on tablet and mobile */
		padding: 2%;
		margin: 2%;
		height: auto; /* Height set to auto so that the container scales to the content */
	}
	.column-about-right {
		width: 90%;
		padding: 5%;
		margin: 10px 20px 10px 20px;
		overflow-y: visible;
		overflow-x: hidden;
		display: block;
		height: auto;
		text-align: center;
	}
	form#contact-form {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.contact-form-input {
		margin: 0 auto;
		display: block;
	}
	input.contact-form-input {
		font-size: 24px;
		height: 46px;
		width: 100%;
		margin: 0 auto;
		display: block;
	}
	#submit {
		height: 60px;
		width: 70%;
	}
	label.contact-form-input {
		font-size: 24px;
		text-align: center;
	}
	form#contact-form {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.contact-form-input {
		margin: 0 auto;
		display: block;
	}
	input.contact-form-input {
		font-size: 24px;
		height: 46px;
		width: 100%;
		margin: 0 auto;
		display: block;
		max-width: 100%;
	}
	textarea.contact-form-input {
		width: 100%;
		max-width: 100%;
	}
	#submit {
		height: 60px;
		width: 70%;
	}
	label.contact-form-input {
		font-size: 24px;
		text-align: center;
	}
	iframe.insta-iframe {
		margin-left: 0;
		width: 100%;
	}
	#contact-form-wrapper {
		width: 100%;
		height: auto;
		margin: 30px 0 25px;
		bottom: 50%;
		border: none;
		padding: 15px;
	}
	label.contact-form-input {
		text-align: left;
		padding-left: 0;
		max-width: 100%;
	}
	#consent-label {
		width: 90%;
		margin: 0;
		float: right;
	}
	#consent {
		position: relative;
		top: -15px;
	}
	#privacy-policy {
		width: 100%;
		font-size: 18px;
	}
	/* Hides submit button when in mobile view */
	#submit.mobile-hidden{
		display: none;
	}
	/* Shows the submit button placed under the privacy policy */
	#submit.desktop-hidden{
		display: block;
	}
	/* Hides the privacy policy that's below the submit button */
	.mobile-hidden{
		display: none;
	}
	/* Shows the privacy policy that's above the submit button */
	.desktop-hidden{
		display: block; 
	}
}


/* For phones and small screens */

@media (max-width: 700px) {
	.row {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.column {
		width: 80%;
		margin: 10px;
	}
	.topnav {
		margin-bottom: 20px;
		font-size: 30px;
	}
	.contact-form-input {
		width: 100%;
	}
	label.contact-form-input {
		text-align: left;
		padding-left: 0;
	}
	#consent-label {
		width: 90%;
		margin: 0;
		float: right;
	}
	#submit {
		font-size: 24px;
		font-weight: 700;
	}
	#privacy-policy {
		width: 100%;
	}
	#contact-form-wrapper {
		width: 100%;
		height: auto;
		margin: 30px 0 25px;
		bottom: 50%;
		border: none;
		padding: 15px;
	}
	.nav-img {
		width: 100%;
		height: 80%;
		margin: 0 auto;
		object-fit: cover;
	}
	/* Responsive CSS for the nav menu */
	.topnav ul {
		min-width: 200px;
		margin-left: -244px;
	}
	/* CSS to make the embedded YouTube video responsive */
	.youtube-video-div {
		position: relative;
  		width: 90%;
  		padding-bottom: 56.25%; 
  		height: 0;
		margin: 10px 20px 50px 20px;
	}
	.youtube-video-div iframe{
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		margin-bottom: 20px;
	}
	iframe.insta-iframe {
		margin-left: 0;
		width: 100%;
	}
	/* home page header text for phones*/
	#index-header {
		font-size: 60px;
		margin: 25px 0 15px 15px;
	}
	footer i {
		padding: 0 15px;
	}
}


/* End of responsive CSS */