/* Google Fonts importing the font Grand Hotel by 'Astigmatic' for Siana's logo */
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

/* Style the background of all pages. margin and padding set to 0px due to browser automatically adding rules */
html, body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #69D2E7;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}

/*allows for padding and margin to be accounted into the size for every element so that the width and height is the actual size */
* {
  box-sizing: border-box;
}

/* Simple rules for floating left and right and adds padding */
.float-left{
  float: left;
  padding-left: 30px;
}

.float-right{
  float: right;
  padding-right: 30px;
}
/* Float rules end */

/* Style the header */
.topnav {
  overflow: hidden;
  background-color: #F38630;
  width: 100%;
  font-size: 40px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: 'Grand Hotel', Helvetica, sans-serif;
  font-weight: 500;
  height: 100px;
}

/* Style rules for the site logo present in the navigation bar */
.site-logo{
  line-height: 10px;
}

/* Style rules for the navigational "burger button" icon on the top navigation bar */
.burger-button{
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: black;
}

/* Psuedo class to change the state of the previously mentioned navigation button */
.burger-button:hover{
  color: white;
}

/* Style the footer at the bottom of the page */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  margin-top: 15px;
  text-align: center;
  width: 100%;
  font-size: 25px;
  color: black;
  bottom: 0;
}
/* General CSS ends here */
  
/* Splash screen/navigation screen specific CSS */
#nav-page-body{
  background-image: url(../images/sky-background.jpg);
  background-attachment: fixed;
}

/* Div containing the other elements of the splash screen */
#nav-wrapper{
  width: 100%;
  padding: 15px;
  overflow: hidden;
}

/* Site title/logo specifically on the index page */
#index-header{
  font-size: 70px;
  font-weight: 300;
  margin: 25px 0 15px 50px;
  font-family: 'Grand Hotel', Helvetica, sans-serif
}

/* Style rules for the text captioning each image on the splash screen */
.index-link{
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  color: black;
}

/* Style rules specific to the left nav image */
#nav-img-left{
    margin-right: 15px;
    width: 32%;
    display: inline-block;
  }
  #nav-img-center{
    margin-right: 15px;
    right: 50%;
    width: 32%;
    display: inline-block;
  }
  #nav-img-right{
    width: 32%;
    display: inline-block;
    right: 100%
  }
  .nav-img{
    object-fit:cover;
    margin: 20px auto 20px auto;
  }
  /*End of splash screen specific CSS */

  /* Gallery CSS starts here */
  /* The galleries and the navigation page use a table-style row and column system as a layout */
  .row{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
  }
  /* Create four equal columns that floats next to each other for the galleries */
  .column {
    float: left;
    width: 25%;
    overflow: hidden;
    margin: 20px auto 0 auto;
    padding: 0 10px 0 10px;
    text-align: center;
  }
  /* Ensures any description text in the columns is central to the image it's describing */
  .column > p{
    text-align: center;
  }
  /* Sets the image size for the gallery, centers the image using object-position */
  .img-size{
    height: 300px;
    width: 300px;
    object-fit: fill;
    object-position: 50% 50%;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .image-caption{
    text-align: center;
  }
  /* Gallery CSS ends here */

  /* About page specific CSS starts here */
  #contact-form{
    display: inline-block;
  }
  #contact-form-wrapper{
    width: 80%;
    height: 500px;
    margin: 0 auto;
    bottom: 50%;
    border: black 1px solid;
    background-color: #E0E4CC;
    padding: 10px 0px 0px 100px;
  }
  .contact-form-input{
    width: 300px;
    padding-left: 25px;
  }
  #submit{
    margin-bottom: 50px;
  }
  #contact-form label{
    font-size: 12px;
    padding-right: 0px;
  }
  textarea{
    resize: none;
    width: 300px;
  }
  #consent{
    width: 10px;
    padding: 0;
    margin: 0;
  }
  #privacy-policy{
    width: 44%;
    height: 300px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 20px 10px 10px;
    overflow-y: scroll;
    background-color: white;
    float: right;
  }
  .column-about-left {
    text-align: left;
    float: left;
    width: 60%;
    overflow: hidden;
    padding: 15px 0px 15px 20px;
    margin: 20px auto 0 auto;
    height: 400px;
  }
  .column-about-right{
    width: 39%;
    overflow: auto;
    padding: 15px 0px 15px 20px;
    float: right;
    height: 600px;
  }
  /* End of about page specific CSS */

  /* Responsive CSS starts here */
  
  /* For tablets and other smaller screens */
  @media (max-width: 1100px) {
    .row{
      width: 100%;
      padding: 0px;
      margin: 0px;
    }
    .column {
      width: 42%;
      margin: 2%;
    }
    #nav-wrapper{
      width: 100%;
    }
    #nav-img-left{
      width: 80%;
      display: block;
      margin: 0 auto 25px auto;
    }
    #nav-img-center{
      width: 80%;
      display: block;
      margin: 0 auto 25px auto;
    }
    #nav-img-right{
      width: 80%;
      display: block;
      margin: 0 auto 25px auto;
    }
    #contact-form-wrapper{
      height: 800px;
    }
    #privacy-policy{
      float: none;
      width: 80%
    }
    .contact-form-wrapper{
      padding-left: 10px;
    }
    .column-about-left{
      width: 90%;
      padding: 2%;
      margin: 2%;
    }

    .column-about-right{
      width: 90%;
      padding: 5%;
      margin: 5%;
      overflow: visible;
      display: block;
      height: fit-content;
      text-align: center;
    }
    .instagram-style{
      width: 100%;
      text-align: center;
      padding: 0;
      margin: 0;
      min-width: 0;
    }
  }
    /* For phones and small screens */
    @media (max-width: 700px) {
      .row{
        width: 100%;
        padding: 0px;
        margin: 0px;
      }
      .column {
        width: 80%;
        margin: 10px;
      }
      .topnav{
        font-size: 30px;
      }
      .contact-form-input{
        width: 80%;
      }
      .nav-img{
        width: 100%;
        height: 80%;
        margin: 0 auto;
        object-fit: cover;
      }
    }
  /* End of responsive CSS */

